<%- include('partials/header.ejs'); -%>
<div class="row explore-row mx-0">
  <div class="col-md-6 branding-window px-0">
    <div class="h-discore-container">
      <h2>You are currently editing</h2>
      <div class="review-divider"></div>
      <div class="editing-album-container">
        <img
          src="images/discoreLogo.png"
          alt="discore logo"
          class="discore-score"
        />
        <!-- Receive current review and map data -->
        <div class="edit-album-details-container">
          <h2 class="h-artist">
            Artist: <span class="body-text"><%= artistName %></span>
          </h2>
          <h2 class="h-album">
            Album: <span class="body-text"><%= albumName %></span>
          </h2>
          <h2 class="h-year">
            Year: <span class="body-text"><%= yearNumber %></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="wave-mask"></div>
    <img
      class="wave-titan"
      src="images/soundwave_1_cropped.png"
      alt="sound wave"
    />
    <div class="collapsed-line"></div>
  </div>
  <div class="col-md-6 dial-pad-window px-0">
    <div class="explore-divider"></div>
    <div class="dial-pad">
      <!-- Update my review form -->
      <form
        action="/update-my-review"
        method="POST"
        class="submit-my-review-form"
        autocomplete="off"
      >
        <label for="your-score"><h2>Your score (%):</h2></label>
        <input
          type="text"
          name="userScore"
          id="your-score"
          value="<%= rating %>"
          autofocus
        />
        <label for="review-title"><h2>Review title:</h2></label>
        <input
          type="text"
          name="userTitle"
          id="review-title"
          value="<%= reviewTitle %>"
        />
        <label for="review-text"><h2>Edit your review:</h2></label>
        <textarea name="userReviewText" id="review-text" cols="30" rows="10">
<%= reviewText %></textarea
        >
        <button class="neon-key select-btn" type="submit">Submit</button>
        <a href="/review" class="neon-key select-btn">Cancel</a>
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs'); -%>
