<%- include('partials/header.ejs'); -%>
<div class="row explore-row mx-0">
  <div class="col-md-6 branding-window px-0">
    <div class="h-discore-container">
      <img
        src="images/discoreLogo.png"
        alt="discore logo"
        class="discore-titan"
      />
      <h1 class="h-titan">Discore</h1>
    </div>
    <img
      class="wave-titan"
      src="images/soundwave_1_cropped.png"
      alt="sound wave"
    />
    <div class="collapsed-line"></div>
  </div>
  <div class="col-md-6 dial-pad-window px-0">
    <div class="explore-divider"></div>
    <div class="dial-pad">
      <div class="select-window">
        <% if (selectItems.length === 0) { %>
        <p>You have not submitted any reviews yet.</p>
        <a class="neon-key select-btn" href="/search-artist">
          <i class="fa-solid fa-pen-to-square button-icon"></i>
          Submit review
        </a>
        <% } else if (selectItems[0].hasOwnProperty('artist_name') &&
        selectItems[0].hasOwnProperty('album_name')){ %>
        <div><h2>Select review</h2></div>
        <form action="/view-my-review" method="POST">
          <% selectItems.forEach((item)=>{ %>
          <button
            class="neon-key select-btn"
            type="submit"
            name="reviewSelect"
            value="<%=item.id%>"
          >
            <%=item.artist_name%> / <%=item.album_name%>
          </button>
          <% }) %>
        </form>

        <% } else if (selectItems[0].hasOwnProperty('artist_name')){ %>
        <div><h2>Select artist</h2></div>
        <form action="/artist" method="POST">
          <% selectItems.forEach((item)=>{ %>
          <button
            class="neon-key select-btn"
            type="submit"
            name="artistSelect"
            value="<%=item.id%>"
          >
            <%=item.artist_name%>
          </button>

          <% }); %> <%} else if (selectItems[0].hasOwnProperty('album_name')) {
          %>
          <div><h2>Select album</h2></div>
          <form action="/album" method="POST">
            <% selectItems.forEach((el)=>{ %>
            <button
              class="neon-key select-btn"
              type="submit"
              name="albumSelect"
              value="<%=el.id%>"
            >
              <%=el.album_name%>
            </button>
            <% }); %>
          </form>

          <% } %>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs'); -%>
